#navegacion{
    width: 15%; 
    background-color: aquamarine;  
    padding: 20px 20px 20px 20px;
    float:left;  
    border: 5px solid #000000;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    padding: 10px; 
    line-height:  30px; 
    
} 

#seccion{  
    width: 70%; 
    background-color: aquamarine; 
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    float:left;  
    border: black 10px dashed;
}  

/*#aparte{ 
  width: 20%; 
  background-color: aquamarine; 
  float: left;
} */

#piedepagina{ 
  width: 98%;  
  margin-top: 20px;
  background-color: aquamarine;  
  padding: 10px 10px ;
  float: left;  
  border-width:10px;
  border-top-style: groove;  
  border-bottom-style: groove; 
  border-right-style: groove;  
  border-left-style: groove; 
  border: black 10px dashed;
} 


.imagenes{  
 width: 150px; 
 height: 150px;
}   

.imagenes2{ 
 width: 500px; 
 height: 300px;
}

