#navegacion{
    width: 20%; 
    background-color: aquamarine;  
    padding: 20px 20px 20px 20px;
    float:left;  
    
} 

#seccion{  
    width: 50%; 
    background-color: aquamarine;  
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    float:left;  
    border: black 10px dashed;
}  

#aparte{ 
  width: 19%;   
  margin-left: 20px; 
  margin-right: 5;
  background-color: aquamarine; 
  float: left;  
  border: black 10px dashed;
} 

#piedepagina{ 
  width: 98%;  
  margin-top: 20px;
  background-color: aquamarine;  
  padding: 10px 10px ;
  float: left;  
  border: black 10px dashed; 

} 


.imagenes{  
 width: 150px; 
 height: 150px;
}   

body{ 
background-image: url("../images/fotoApple.png"); 
margin:0.5in;
} 

