a{ 
    text-decoration: none;
}

ul#navegacion1{ 
    color: green; 
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;   
    font-size: 20px;
} 

ul#navegacion2{ 
    color: coral; 
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;   
    font-size: 20px;
} 

h2,h3,h4{ 
    color: crimson; 
    text-decoration: underline; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    line-height: 50px;   
    font-size: 20px;
} 

h6{  
    color: crimson; 
    text-decoration: underline; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    line-height: 50px;   
    font-size: 20px;
}

.titulosarticulos{ 
    color: darkslategray; 
    text-decoration:unset; 
    font-family: cursive; 
    line-height: 50px;   
    font-size: 20px;
}

.productosnombre{ 
    color: olivedrab; 
    text-decoration: unset;  
    font-family: cursive; 
    line-height: 50px;   
    font-size: 20px;
} 

p, .definicion{ 
    color:midnightblue; 
    /*text-decoration: unset;*/  
    font-family: cursive; 
    line-height: 50px;   
    font-size: 20px;
} 

body{ 
    background-image: url("../images/PRODUCTOSDEAPPLE.PNG");
    margin:0.5in;
}

.pie{ 
    color:lightseagreen;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 50px;   
    font-size: 20px;
}